// Specific CSS for your home-page
html,
body {
  position: fixed;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overscroll-behavior-y: none;
}



header {
  background-color: red;
}

main {
  background-color: orange;
  flex: 1;
}

footer {
  background-color: yellow;
}
