<!DOCTYPE html>
<html>
  <head>
    <title>TMPAeStructure</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimal-ui=yes">

    <!-- iOS PWA behaviour -->
    <meta name=”apple-mobile-web-app-capable” content=”yes”>
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
    <!-- <meta name="apple-mobile-web-app-title" content="All Ears PWA TITLE"> -->

    <!-- Hide address bar when added to desktop -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Requirement for PWA functionality -->
    <link rel="manifest" href="/manifest.json">

    <!-- Favicon -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <header>header</header>
    <main>main</main>
    <footer>footer</footer>
  </body>
</html>
