<!DOCTYPE html>
<html>
  <head>
    <title>TMPAeStructure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- iOS PWA behaviour -->
    <meta name="apple-mobile-web-app-title" content="All Ears">
    <meta name=”apple-mobile-web-app-capable” content=”yes”>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Chrome PWA behaviour -->
    <meta name="mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <header>header</header>
    <main>main</main>
    <footer>footer</footer>

    <script type="text/javascript">
      window.scrollTo(0,1)
    </script>
  </body>
</html>
